services:
    laravel.test:
        build:
            context: ./docker/8.2
            dockerfile: Dockerfile
            args:
                WWWGROUP: "${WWWGROUP:-1000}"
                NODE_VERSION: "${NODE_VERSION:-18}"
        image: sail-8.2/app
        ports:
            - "80:8000"
        environment:
            WWWUSER: "${WWWUSER:-1000}"
            LARAVEL_SAIL: 1
        volumes:
            - ".:/var/www/html"
            - "./vendor:/var/www/html/vendor"
            - "./node_modules:/var/www/html/node_modules"
        depends_on:
            - mysql
        networks:
            - laravel_network

    mysql:
        image: 'mysql:8.0'
        container_name: mysql_container
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-rootpassword}
            MYSQL_DATABASE: ${DB_DATABASE:-laravel}
            MYSQL_USER: ${DB_USERNAME:-laraveluser}
            MYSQL_PASSWORD: ${DB_PASSWORD:-laravelpassword}
        volumes:
            - 'mysql_data:/var/lib/mysql'
        ports:
            - '3306:3306'
        networks:
            - laravel_network

networks:
    laravel_network:
        driver: bridge

volumes:
    mysql_data: null
    sail-mysql:
        driver: local
